.dashboard-table { padding-right: 30px; }
.rtl .dashboard-table { padding-left: 30px; padding-right: 0; }
.dashboard-table table { width: 100%; text-align: left; border-collapse: unset; border-spacing: 0 10px; position: relative; }
.rtl .dashboard-table table { text-align: right; }

/* Head */
.dashboard-table table thead tr { line-height: 30px; min-height: 50px; }
.dashboard-table table thead tr th { font-weight: medium; font-size: 13px; padding: 0 10px; color: #777; }
.dark .dashboard-table table thead tr th { color: #495161; }


/* Body */
.dashboard-table table tbody tr { line-height: 60px; position: relative; transform: translateX(0); cursor: pointer; transition: all .3s ease; }
.dashboard-table table tbody tr.active { transform: translateX(10px); }
.rtl .dashboard-table table tbody tr.active { transform: translateX(-10px); }
.dashboard-table table tbody tr::after { content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; pointer-events: none; background: #FAFAFA; border-radius: 5px; transition: all .3s ease; }
.dark .dashboard-table table tbody tr::after { background: #222730; }
.dashboard-table table tbody tr:hover::after,
.dashboard-table table tbody tr.active::after { background: #F5F5F5; }
.dark .dashboard-table table tbody tr:hover::after,
.dark .dashboard-table table tbody tr.active::after { background: #292f3a; }
.dashboard-table table tbody tr td { position: relative; z-index: 1; font-size: 13px; padding: 0 10px; }
.dark .dashboard-table table tbody tr td { color: #DDD; }
.dashboard-table table tbody tr td:first-of-type label { top: 5px; transform: scale(.8); }
.dashboard-table table tbody tr td:first-of-type label,
.dashboard-table table tbody tr td input.select-row { pointer-events: none; }
.dashboard-table table tbody tr td .show-on-hover { opacity: 0; visibility: hidden; text-align: center; transition: all .3s ease; }
.dashboard-table table tbody tr:hover td .show-on-hover { opacity: 1; visibility: visible; }

.dashboard-table table tbody tr td .show-on-hover i { margin: 0 5px; width: 30px; height: 30px; line-height: 32px; text-align: center; background: #FFF; border-radius: 3px; display: inline-block; transition: all .3s ease; }
.dashboard-table table tbody tr td .show-on-hover i:hover { transform: scale(1.2); }
.dark .dashboard-table table tbody tr td .show-on-hover i { background: #343b49; }
.dashboard-table table tbody tr td .show-on-hover i.icon-edit { color: #0984E3; }
.dashboard-table table tbody tr td .show-on-hover i.icon-delete { color: #FF6B6B; }